.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #1A0B2E;
}
.display-flex{
    display: flex;
}
.text-white{
    color: #FFFFFF;
}
.text-light-white{
    color:rgba(255,255,255,0.6);
}
.text-medium-white{
    color: rgba(255, 255, 255, 0.8);
}
.btn-primary,.btn-secondary,.btn-tertiary{
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
    transition:transform 1s;
    padding: 12.5px 16px;
    color: #FFFFFF;
    border-radius: 1000px;
    border: none;
}
.btn-primary,.btn-secondary{
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100FB);
}

.btn-primary:hover,.btn-secondary:hover,.btn-tertiary:hover{
    transform: rotate(15deg);
}
.btn-tertiary{
    border: 1px solid #00FF88;
    color: #00FF88;
    background-color: transparent;
}



/* Navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding:0 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}
.nav-links{
    gap: 20px;
}
.nav-items{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
}
#Tech{
    font-weight: 700;
    font-size: 1.5rem;
}
#Wave{
    font-weight: 700;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}