.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: #1A0B2E;
}


.display-flex{
    display: flex;
}

.text-medium-white{
    color: rgba(255, 255, 255, 0.8);
}

/* Shared Styles*/
.btn-1,.btn-2,.btn-3{
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
    transition:transform 1s;
    padding: 12.5px 16px;
    color: #FFFFFF;
    border-radius: 1000px;
    border: none;
}
.btn-1,.btn-2{
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100FB);
}
.btn-3{
    border: 1px solid #00FF88;
    color: #00FF88;
    background-color: transparent;
}


/* Animation added */
.btn-1:hover,.btn-2:hover,.btn-3:hover{
    transform: rotate(15deg);
}


/* Navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding:0 20px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}
.nav-links{
    gap: 20px;
}
.nav-items{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
}
#Tech{
    font-weight: 700;
    font-size: 1.5rem;
}
#Wave{
    font-weight: 700;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

/* Banner Styles */
.banner{
    background-color: #1A0B2E;
    background-image:url(./assets/new.png),url(./assets/microphone.png), url(./assets/hero-circle.png), url(./assets/hero-bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:58% 10%, center 25%, center 15%, center;
    background-size: 100px, 100px, 315px, cover;
    height: 650px;
    margin: 0;
    padding-top: 2px;
}
.banner-badge{
    font-weight: 800;
    font-size: 5rem;
    margin-bottom: 0;
}
.banner-text{
    font-weight: 400;
    font-size: 1rem;
    margin-top:0;
    padding-bottom: 24px;
}
.banner-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 330px;
}

/* About Section Styles */
.about{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    
}
.about-container{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 40px;
}
.about-heading{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.about-content{
    font-size: 1rem;
    font-weight: 400;
}
.about-stats{
    justify-content: center;
    gap: 100px;
    margin: 120px 200px;
}
#stats{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 700;
}
#second-stats{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    white-space:nowrap;
}
